<div class='container'>
    <h1>WELCOME TO CAROLINE'S WORLD! &#9786;</h1><br>
    <hr>
    <h3>Sign Up</h3>
    <p><%= flash[:errors] %></p>
    <div class ="form-group"><form action='/create' method='post'>
        <input name="authenticity_token" value= "<%= form_authenticity_token %>" type="hidden">
        <p><label for="firstname">First Name:</label>
        <input id="firstname" type="text" name="first_name" placeholder="Enter first name"></p>
        <p><label for="lastname">Last Name:</label>
        <input id="lastname" type="text" name="last_name" placeholder="Enter last name"></p>
        <p><label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="Enter email"></p>
        <p><label for="location">Location:</label>
        <input id="city" type="city" name="city" placeholder="Your City">
        <select id= "state" name="state" placeholder="Your State">
            <option value="CA">CA</option>
            <option value="WA">WA</option>
        </select></p>
        <p><label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Enter password"></p>
        <p><label for="password_confirmation">Retype Password:</label>
        <input id="password_confirmation" type="password" name="password_confirmation" placeholder="Retype your password"></p>
        <button type="submit">Join us &#9829;</button>
        </form>
    </div>
    <hr>
    <h3>Login</h3>
    <p><%= flash[:message] %></p>
    <div class ="form-group"><form action='/login' method='post'>
        <input name="authenticity_token" value= "<%= form_authenticity_token %>" type="hidden">
        <p><label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="Enter email"></p>
        <p><label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Enter password"></p>
        <button type="submit">Hi &#9834;&#9836;</button>
        </form>
    </div>


        <!-- Dojo Location: <select id= "location" name="location">
            <option value="sanjose">San Jose</option>
            <option value="seattle">Seattle</option>
        </select><br> -->
        <!-- Comment (optional): <input id="comment" type='text' name='comment'>
        <input id="submit" type='submit' value='sumbit'> -->
</div>
